@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@font-face {
  font-family: 'bebasneue';
  src: url('fonts/bebasneue-book-webfont.woff2') format('woff2'),
    url('fonts/bebasneue-book-webfont.woff') format('woff');
}

:root {
  --background: #2b2a30;
  --red: #9d0000;
  --green: #00aa51;
  --diameter: min(500px, 80vmin);
}

.root {
  background-color: var(--background);
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressRing {
  height: calc(var(--diameter) + 18px);
  width: calc(var(--diameter) + 18px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
}

.clock {
  position: relative;
  height: var(--diameter);
  width: var(--diameter);
  text-align: center;
  border-radius: 50%;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
}

.timeInput {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'bebasneue', Courier, monospace;
  background: none;
  border: none;
  color: white;
  text-align: center;
  font-size: calc(var(--diameter) * 0.4);
  line-height: calc(var(--diameter) * 0.4);
  width: calc(var(--diameter) * 0.68);
  margin-top: calc(var(--diameter) * 0.28);
  margin-bottom: calc(var(--diameter) * 0.03);
}

.startStopButton {
  background: none;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--diameter) * 0.032);
  line-height: calc(var(--diameter) * 0.04);
  letter-spacing: 0.6em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
}

.startStopButton:disabled {
  color: #585858;
  cursor: auto;
}

.iconButtonWrapper {
  margin-top: calc(var(--diameter) * 0.06);
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: calc(var(--diameter) * 0.048);
}
