@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

:root {
  --background-color: #262529;
  --gold: #ffc700;
  --pink: #ea346f;
  --gray: #4d4c53;
  --button-color: #333139;

  font-family: 'Source Sans Pro', sans-serif;
}

.root {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.card {
  /* width: 80vw; */
  background: #262529;
  box-shadow: 0px 0px 250px #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 128px;
}

.card > * {
  margin: 24px;
}

.label {
  font-size: 90px;
  line-height: 118px;
  color: var(--gold);
}

/***** Styling range slider starts  *****/
.input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 600px;
  border-radius: 10px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.input::-webkit-slider-runnable-track {
  height: 16px;
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -16px; /* Centers thumb on the track */
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: var(--pink);
}

/******** Firefox ********/
.input::-moz-range-track {
  height: 16px;
}

.input::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background: var(--pink);
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
/***** Styling range slider ends  *****/

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: 100px;
  width: 333px;
  height: 108px;
  outline: none;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.15em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: var(--button-color);
}
